/*------------------Nav Styling----------*/

nav{
  background-color: #30353B !important;
  height: 79px;
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
}


/*------------------Modal Styling----------*/
.modal{
    background: rgba(76, 175, 80, 0.6);
}

.modal-footer{
    background-color:#94CF96 !important;
    margin-top: 30px;
}

.modal img {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.wrapper{
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
}

.name1 {
    background-image: url(assets/images/tasha.jpg)
    width:200px;
    height:200px;
    
}

.name2 {
    background-image: url(assets/images/shweta.jpg)
    width:200px;
    height:200px;
}

.name3 {
    background-image: url(assets/images/jesse.jpg)
    width:200px;
    height:200px;
}

.name4{
    background-image: url(assets/images/jess.jpg)
    height: 200px;
    width: 200px;
}

/* ------profile pic styling ---------*/
.profile img {
	height: 200px;
	width: 200px;
}

.info {
    float: center;
    margin-top: 20px;
}

.info p {
	text-align: center;
	font-size: 16px;
    color: white;
}

.profileDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*---------------Modal Text Styling----------*/

h3 {
    text-align: center;
    color: white;
}

.link{
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: white;
}


.link a{
    color: white;
}




.contactme img {
	float: left;
	margin: 50px;
}


body {
	background-image: url("../assets/images/forestbackground.jpg");
    background-size: cover;
}
