/*------------------Nav Styling----------*/

nav{
  background-color: #30353B !important;
  height: 79px;
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
}




/* profile pic styling */
.profile {
	height: 100px;
	width: 500px;
}
.profile img {
	height: 200px;
	width: 200px;
}
/* modal styling */
.modal img {
	height: 200px;
	width: 200px;
}

.name1 {
	background-image: url(assets/images/tasha.jpg)
	width:200px;
	height:200px;
	
}

.name2 {
	background-image: url(assets/images/shweta.jpg)
	width:200px;
	height:200px;
}

.name3 {
	background-image: url(assets/images/jesse.jpg)
	width:200px;
	height:200px;
}

.name4{
	background-image: url(assets/images/jess.jpg)
	height: 200px;
	width: 200px;
}

.info p {
	text-align: left;
	font-size: 100px;
	
}
.info {
	float: left;
	margin-top: 50px;
}

.contactme img {
	float: left;
	margin: 50px;
}


body {
	background-image: url("../assets/images/forestbackground.jpg");
}
