/*------------------Nav Styling----------*/

nav{
  background-color: #30353B !important;
  height: 79px;
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
}

/* ------profile pic styling ---------*/
.profile img {
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.info {
    float: center;
    margin-top: 20px;   
}


.profileDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*------------------Modal Styling----------*/
.modal{
    background: rgba(76, 175, 80, 0.6);
    width: 400px;
}

.modal-footer{
    background-color:#94CF96 !important;
    margin-top: 10px;
}

.modal img {
    height: 200px;
    width: 200px;
    margin: 5px;
}

.wrapper{
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
}

.name1 {
    background-image: url(assets/images/tasha.jpg)
    width:200px;
    height:200px;
    
}

.name2 {
    background-image: url(assets/images/shweta.jpg)
    width:200px;
    height:200px;
}

.name3 {
    background-image: url(assets/images/jesse.jpg)
    width:200px;
    height:200px;
}

.name4{
    background-image: url(assets/images/jess.jpg)
    height: 200px;
    width: 200px;
}



/*---------------Modal Text Styling----------*/

h3 {
    text-align: center;
    font-family: 'Lobster';
    color: white;
    margin: 10px 2px 1px 2px;

}

.link{
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: white;
}

.info p {
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 5px 5px 5px 5px;
}
.hike {
    padding: 0px 5px 5px 5px;
}

.link a {
    color: white;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
}

#githubLink, p {
    padding: 5px 5px 5px 5px;
}

/*--modal image styling--*/

.wrapper img {
	border-radius: 10px;

}


body {
	background-image: url("../assets/images/forestbackground.jpg");
    background-size: cover;
}

/*--greeting section styling--*/
#greeting {
    padding-left: 150px;
    margin: 20px;
    /*display: flex;
    justify-content: flex-start;*/
    color: white;
    font-family: 'Lobster';
    font-size: 30px;
}

#directions {
    padding-left: 200px;
    color: white;
    font-size: 20px;
    font-weight: thin;
    margin: 20px 0px 20px 0px;
    padding-right: 100px;
}

#hikelike {
    color: white;
    font-size: 20px;
}

#happyhiking {
    text-align: right;
    padding-right: 325px;
    font-family: 'Lobster';
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}
/*=====================================================
                    Media Queries            
=====================================================*/

@media only screen and (max-width : 768px) {
    body {
        background-image: url("../assets/images/greentrees.jpg");
    }

    h3 {
        font-size: 40px;
        margin-top: 20px;
    }
}

@media only screen and (min-width:400px) and (max-width : 480px){
    #directions {
        font-size: 15px;
        margin: 20px;

    }
    .bottom {
        text-align: center !important;
    }
    p {
        margin: 20px;
        padding: 0px !important;
    }
    #happyhiking {
        text-align: center;
    }
    .link{
    text-align: center;
    padding: 2px;
    color: white;
    margin: 4px;
    }

    .info p {
    padding: 2px;
    margin: 4px;
    }

    .hike {
    padding: 2px;
    margin: 4px;
    }

    .link a {
    color: white;
    font-size: 15px;
    padding: 2px;
    margin: 4px;
    }

    #githubLink, p {
    padding: 2px;
    margin: 4px;
    }

}

@media only screen and (max-width : 375px) {
    .modal {
        width: 350px;
    }
    #greeting {
        font-size: 25px;
        text-align: center !important;
        padding: 10px;
        margin-bottom: 0px;
    }
    #directions {
        font-size: 15px;
        text-align: center !important;
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    #happyhiking {
        font-size: 30px;
        text-align: center !important;
        padding: 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width : 320px) {
    .modal {
        width: 310px;
    }
}






