
/*------------------Nav Styling----------*/

nav{
  background-color: #30353B !important;
  height: 79px;
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
}

h1 { 
	text-align: center;
}

.photoForm {
	display: flex;
	justify-content: center;

}

#photoSubmitForm {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

#photoSubmit{
	background-color: #254A2A;
}

#photoInput, #locationInput {
	width: 300px;
}


.photoBlock {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;

}

.photo img{
	height: 200px;
	widows: 200px;
	margin: 10px;
}

h3.capitalize {

    text-transform: capitalize;

}