
/*------------------Nav Styling----------*/

nav{
  background-color: #30353B !important;
  height: 79px;
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
}

/*------------------Text Styling----------*/
h1 { 
	text-align: center;
}

h3.capitalize {

    text-transform: capitalize;

}

/*------------------Photo Block Styling----------*/
.photoForm {
	display: flex;
	justify-content: center;

}

#photoSubmitForm {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

#photoSubmit{
	background-color: #254A2A;
}

#photoInput, #locationInput {
	width: 300px;
}


.photoBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;

}

.photo img{
	height: 200px;
	widows: 200px;
	margin: 10px;
}


/*=====================================================
                    Media Queries            
=====================================================*/

@media only screen and (max-width : 768px) {
	
	.photoBlock{
  		margin-top: 10px;
  	}

  	.photo img{
	height: 200px;
	margin: 10px;
	}

	.photoBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	}
}
@media only screen and (min-width:400px) and (max-width : 480px) {
 	.photoBlock{
  		margin-top: 10px;
  	}
  	.photo img{
	height: 150px;
	margin: 10px;
	}

	.photoBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	}

}

@media only screen and (max-width : 375px) {
  	.photoBlock{
  		margin-top: 10px;
  	}

  	.photo img{
	height: 150px;
	margin: 10px;
	}

	.photoBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	}
	
}


@media only screen and (max-width : 320px) {
  	.photoBlock{
  		margin: 10px;
  	}

  	.photo img{
	height: 150px;
	margin: 10px;
	}

	.photoBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	}


}

