/*------------Materialize Overides--------------------------*/

.container{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.section{
	margin: 0px;
	padding: 0px;
}

.row{
	margin: 0px !important;
	padding: 0px;
}

/*------------------stickey footer------------------------------*/
  .container {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto !important;
  }
      
/*----------------footer Styling ------------------------------*/

footer{
  background-color: #30353B !important;
  margin: 0px !important;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  border-width: 25px;
  border-color: #254A2A;
  border-style: solid none none none;
  text-align: center;
}

/*----------------Navbar Styling ------------------------------*/
nav{
  background-color: #30353B !important;
  

}


nav a {
  padding-left: 10px !important;
  font-family: 'Open Sans', sans-serif;
}

header{
  border-width: 25px;
  border-color: #254A2A;
  border-style: none none solid none;
  text-align: center;
  width: 100%;
}

/*------------------Text Styling ---------------------------*/
h1{
  padding-top: 20px;
  font-family: 'Lobster', cursive;
}

h2{
  padding-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

