/*------------Materialize Overides--------------------------*/

.container{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.section{
	margin: 0px;
	padding: 0px;
  width: 100%;
}

.row{
	margin: 0px !important;
	padding: 0px;
  width: 100%;
}

/*------------------stickey footer------------------------------*/
  .container {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    width: 100%;
  }
      
      
/*----------------footer Styling ------------------------------*/

footer{
  background-color: #30353B !important;
  margin: 0px !important;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  border-width: 25px;
  border-color: #254A2A;
  border-style: solid none none none;
  text-align: center;
  width: 100%;
}

/*----------------Navbar Styling ------------------------------*/
nav{
  background-color: #30353B !important;
  width: 100%;
}


nav a {
  padding-left: 10px !important;
  font-family: 'Open Sans', sans-serif;
}

header{
  clear: both;
  text-align: center;
  width: 100%;
}

.display img{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  padding-top: 3px;
  margin-top: 6px;
}


/*------------------Text Styling ---------------------------*/
h1{
  padding-top: 20px;
  font-family: 'Lobster', cursive;
}

h2{
  padding-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}



/*=====================================================
                    Media Queries            
=====================================================*/

@media only screen and (max-width : 767px) {
  h1{
      font-size: 60px;
    }
  h2{
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
  }
  h3{
    font-size: 20px;
    padding: 10px;
    margin-top: 40px;
  }

  .display img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 6px;
  }
  .right a {
    margin: 0px;
    padding: 0px 5px 0px 8px !important;

  }

}
@media only screen and (min-width:400px) and (max-width : 480px) {
  h1{
      font-size: 60px;
    }
  h2{
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
  }
  h3{
    font-size: 20px;
    padding: 10px;
    margin-top: 40px;
  }
  .display img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 6px;
  }
  .right a {
    margin: 0px;
    padding: 0px 5px 0px 8px !important;

  }
}

@media only screen and (max-width : 375px) {
  h1{
      font-size: 60px;
    }
  h3{
      font-size: 30px;
      padding: 10px;
      margin-top: 40px;
    }

    h2 {
      margin: 0px;
    }

    h6{
      display: none;
    }

  .right a {
    margin: 0px 0px 0px 0px;
    font-size: 13px;
    padding: 0px 5px 0px 8px !important;

  }

  .right{
    margin-right: 20px;
  }
}


@media only screen and (max-width : 320px) {
  h1{
      font-size: 40px;
    }

  h3{
      font-size: 20px;
      padding: 5px;
      margin-top: 0px;
    }

  h2 {
      margin: 0px;
  }

  h6{
      display: none;
  }

  .display img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 6px;
  }
  .right a {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    padding: 0px 5px 0px 2px !important;

  }

  .right{
    margin-right: 10px;
  }

}
