/*------------Materialize Overides--------------------------*/

.container{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.section{
	margin: 0px;
	padding: 0px;
}

.row{
	margin: 0px !important;
	padding: 0px;
}

/*------------------stickey footer------------------------------*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;

  }

  main {
    flex: 1 0 auto;
  }
      
/*----------------footer Styling ------------------------------*/

footer{
  background-color: #30353B !important;
  width: 100%;
  margin: 0px !important;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  border-width: 35px;
  border-color: #254A2A;
  border-style: solid none none none;
}
/*----------------Navbar Styling ------------------------------*/
nav{
  background-color: #30353B !important;

}


nav a {
  padding-left: 10px !important;
  font-family: 'Open Sans', sans-serif;
}



/*------------------Text Styling ---------------------------*/
h1{
  padding-top: 20px;
  font-family: 'Lobster', cursive;
}

h2{
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

