
/*--------Materialize Overides-------*/

.container{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.section{
	margin: 0px;
	padding: 0px;
}

.row{
	margin: 0px !important;
	padding: 0px;
}

/*--------------stickey footer--------------------*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
  }
      
/*----------------------------------------------*/

.banner{
	background-image: url("../assets/images/background.jpg");
	height: 500px;
	text-align: left;
}

p{
	font-size: 10px;
}

img{
	width: 100px;
}

.map{
	background-color: #F9F9F9;
}
	
nav{
	background-color: #30353B;
}

.forcast{
	background-color: #FFFFFF;
}

footer{
	background-color: #30353B !important;
	width: 100%
	margin: 0px !important;
}


#mapGoesHere{
	width: 50%;
	height: 200px;
}