
/*----------------nav styling --------------*/

.banner{
	background-image: url("../assets/images/background.jpg");
	height: 590px;
	text-align: left;
}


/*--------------forcast div styling --------*/
.city, .wind, .humidity, .temp_max, .temp_min, .visibility{
	padding: 5px;
}

.forcast{
	background-color: #FFFFFF;
}

.quote{
	padding-top: 50px !important;

}

/*--------------map div styling-------------------------*/	


.map{
	background-color: #F9F9F9;
}

#mapGoesHere{
	height: 500px;
	background-color: orange;
}

.availableTrails{
	background-color: #30353B;
	height: 500px;

}


/*----------------------------------------------*/


body{
	background-color: #96B566;
}

p{
	font-size: 16px;
}

img{
	width: 100px;
}

h2{
	padding-top: 20px;
}
